body{
  font-size: 16px;
  line-height: 1;
}

a{
  color: #000;
}

.caption{
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.2em;
}

header{
  position: fixed;
  top: 0;
  z-index: 1;


  width: 100%;
  padding: 15px 0;
  background-color: #000000;

  color: #ffffff;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

article{
  padding-top: 80px;
  clear: both;
  width: 90%;
  margin: 0 auto;
}


/* text width */
article > p,
article > h1{
  max-width: 560px;
  margin: 0 auto 20px auto;
}

/* wide art */
.wide{
  max-width: 900px;
  margin: 0 auto 20px auto;
}

/* narrow art */
.narrow{
  width: 100%;
  margin: 0 auto 20px auto;
}

@media (min-width: 768px) {
  .narrow{
    max-width: 320px;
    float: right;
    padding-left: 30px;
  }

  .narrow.left{
    padding-right: 30px;
  }
}

.wide img,
.narrow img{
  width: 100%;
}

article > p,
article > h1{
  font-family: Georgia, Times, serif;
}

article > h1{
  font-size: 2.3em;
}

article > p{
  font-size: 1em;
  line-height: 1.55em;
}


@media (min-width: 768px) {
  article > p{
    font-size: 1.2em;
  }
}
